.photo__box {
    width: 25%;
    margin-bottom: 30px;
}
.modal-image {
    max-width: 100%;
    max-height: 100%;
}
.photo {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo__title {
    margin: 10px 0px;
}
.photo__wrapper {
}
.photo__wrapper img {
    max-width: 100%;
    max-height: 100%;
}